*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%; // 10px
  font-family: 'Roboto', sans-serif; // 'Montserrat', 'Roboto';
}

// body {
//   display: flex;
//   justify-content: center;
//   align-items: center;
//   height: 100vh;
// }

.counter {
  width: 100vw;
  min-height: 100vh;
  background-color: #ebf0f3;

  display: flex;
  justify-content: center;
  align-items: center;

  &__content {
    background-color: #6c5ce7;
    width: 60%;
    min-height: 30rem;
    border-radius: 8px;
    padding: 30px;
    text-align: center;

    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(220px, 1fr));
    grid-template-rows: auto;
    place-items: center;
    gap: 2rem;

    &__box {
      border: 2px solid #dfe6e9;
      width: 220px;
      min-height: 140px;
      border-radius: 8px;
      background-color: #2d3436;
      color: #dfe6e9;

      display: grid;
      place-items: center;

      &--icon {
        font-size: 3rem;
        text-shadow: 0 4px 2px rgba(0, 0, 0, 0.3);
      }

      .fa-twitter {
        color: #1da1f2;
      }

      .fa-youtube {
        color: #ff0000;
      }

      .fa-facebook {
        color: #0078ff;
      }

      &--counter {
        font-size: 4rem;
      }

      &--name {
        font-size: 2rem;
      }
    }
  }

  @media (max-width: 800px) {
    &__content {
      width: 90%;
    }
  }

  @media (max-width: 320px) {
    &__content {
      width: 100%;
    }
  }
}
